@model IEnumerable<WebShopBanGame.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="text-align: center; margin-top: 10px;">Danh Sách Khách Hàng</h3>


<table class="table table-hover table-sm table-bordered">
    <thead>
        <tr style="background-color: #e3f2fd;">
            <th>
                Mã KH
            </th>
            <th>
                Tên KH
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Tên Đăng Nhập
            </th>                  
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDN)
        </td>              
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MaKH }) |*@
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaKH })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.MaKH })*@
        </td>
    </tr>
}

</table>
