@model IEnumerable<WebShopBanGame.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string Tthai = "";
}

<h2 style="padding: 30px 0px">Lịch sử mua hàng</h2>


<table class="table">
    <tr>
        <th>
            Mã Hóa Đơn
        </th>
        <th>
            Ngày Mua
        </th>
        <th>
            Chi Tiết
        </th>
        <th>
            Trạng Thái
        </th>      
        <th>
            CD-Key
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBan)
        </td>
        <td>
            <a href="@Url.Action("Index","CHITIETHOADONs",new { id = item.MaHD})">Xem</a>
        </td>
        @if (item.TrangThai == true)
        {
            Tthai = "Đã duyệt";
            <td class="btn btn-success">@Tthai</td>
            <td><a href="@Url.Action("Index","DSCDKEYs",new { id = item.MaHD})">Xem</a></td>
        }
        else
        {
            Tthai = "Chưa duyệt";
            <td class="btn btn-danger">@Tthai</td>
        }        
    </tr>
}

</table>
